.display-selected-user-list-button {
    margin: 0 0 1rem .5rem;
}

.populate-user-list-button {
    margin: 0 0 1rem 0;
}

.selected-user-list {
    align-items: center;
    margin: 0 0 1rem 0;
}

.selected-user-list__title {
    margin: 0 1rem 0 0;
}

.user-list-div {
    margin: 1.5rem 0 0 0;
}